<div class="card mb-3">
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title pb-0 fs-4">Enter Your Registered Email!</h5>
    </div>

    <form class="row g-3" autocomplete="off" ngNativeValidate>
      <!-- Email Input -->
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" placeholder="Enter your registered email" aria-label="Registered Email" required />
      </div>

      <!-- Submit Button -->
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit" aria-label="Request password reset link">Reset Password</button>
      </div>

      <!-- Back to Login Link -->
      <div class="col-12">
        <p class="small mb-0">
          Remember your password?
          <a [routerLink]="['/']" href="/">Back to login.</a>
        </p>
      </div>
    </form>
  </div>
</div>
