<div class="card mb-3">
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title pb-0 fs-4">Login to Your Account!</h5>
    </div>

    <form class="row g-3" autocomplete="off" ngNativeValidate>
      <!-- Email Input -->
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" placeholder="Enter your email" aria-label="Email" required />
      </div>

      <!-- Password Input -->
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Enter your password" aria-label="Password" required />
      </div>

      <!-- Submit Button -->
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>

      <!-- Forgot Password Link -->
      <div class="col-12">
        <p class="small mb-0">
          Forgot your password?
          <a [routerLink]="['/forgot-password']" href="/forgot-password">Reset it here.</a>
        </p>
      </div>
    </form>
  </div>
</div>
